td {
    text-align: center;
}

table td:hover {
    background: #cccccc;
    cursor: pointer;
}

#contenido {
    width: 500px;
    margin: auto;
    border: 3px solid #73AD21;
}

#reloj {
    border-style: solid;
    height: 50px;
    width: 10%;
    background-color: powderblue;
    font-size: 50px;
    color: #434343;
}

#botonReiniciar {
    display: none;
    margin-left: 40%;
}

#palabrasEncontrar {
    border-style: solid;
    height: 50px;
    width: 10%;
    background-color: powderblue;
    font-size: 50px;
    color: #434343;
}

#palabrasEncontradas {
    border-style: solid;
    height: 50px;
    width: 10%;
    background-color: powderblue;
    font-size: 50px;
    color: #434343;
}

#tiempo {
    border-style: solid;
    height: 50px;
    width: 10%;
    background-color: powderblue;
    font-size: 50px;
    color: #434343;
}

#contenedor {
    display: flex;
    flex-flow: row;
    max-width: inherit;
}

.caja {
    flex: auto;
}

.uno {
    margin-left: 10%;
    margin-right: -20%;
}

.tres {
    margin-left: -5%;
}