td {
    text-align: center;
}

table td:hover {
    background: #cccccc;
    cursor: pointer;
}

#contenido {
    width: 500px;
    margin: auto;
    border: 3px solid #73AD21;
}

#reloj {
    font-size: 50px;
    color: #434343;
}

#botonReiniciar {
    display: none;
}
